# {{ ansible_managed }}
# Please be aware: If ansible detects any change here, the certificate gets recreated

[ req ]
prompt              = no
distinguished_name  = req_distinguished_name

[ req_distinguished_name ]
CN = Mailserver

[ v3_extensions ]
basicConstraints        = critical, CA:FALSE
keyUsage                = digitalSignature, keyEncipherment
extendedKeyUsage        = serverAuth
subjectAltName          = @alt_names

[ alt_names ]
DNS.1 = {{ mail_mailname }}
