# Ansible managed

[Unit]
Description=SMTP-Sink
After=network.target
Conflicts=postfix.service

[Service]
Type=simple
ExecStartPre=/bin/sh -c '> /tmp/maildump'
ExecStartPre=/bin/echo 'Starting mail service (smtp-sink)'
ExecStart=/usr/sbin/smtp-sink -v -D /tmp/maildump -u postfix :25 10

[Install]
WantedBy=multi-user.target