[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible-lint = "*"
yamllint = "*"

[packages]
ansible = "~=4.8"
jmespath = "*"

[requires]
python_version = "3.8"
