# {{ ansible_managed }}

## General

submission_host = localhost:25
#mail_debug = yes

## Protocols

protocols = imap lmtp sieve

protocol imap {
  mail_plugins = $mail_plugins imap_sieve
  mail_max_userip_connections = 50
}

protocol lmtp {
   mail_plugins = $mail_plugins sieve
}

## mail_plugins
plugin {
  sieve_plugins = sieve_imapsieve sieve_extprograms
  sieve_global_extensions = +vnd.dovecot.pipe +vnd.dovecot.debug

  # From elsewhere to Spam folder
  imapsieve_mailbox1_name = Spam
  imapsieve_mailbox1_causes = COPY
  imapsieve_mailbox1_after= file:/srv/mail/.sieve/learn-spam.sieve

  # From elsewhere to Ham folder
  imapsieve_mailbox2_name = Ham
  imapsieve_mailbox2_causes = COPY
  imapsieve_mailbox2_after = file:/srv/mail/.sieve/learn-ham.sieve

  imapsieve_mailbox3_name = *
  imapsieve_mailbox3_causes = FLAG
  imapsieve_mailbox3_after = file:/srv/mail/.sieve/learn-ham-due-to-NonJunk-flag.sieve

  # Just for try-out-purposes:
  #imapsieve_mailbox2_name = Ham
  #imapsieve_mailbox2_causes = COPY
  #imapsieve_mailbox2_before = file:/srv/mail/.sieve/playground.sieve
  #imapsieve_mailbox2_after = file:/srv/mail/.sieve/playground.sieve

  # Do not forget to adapt AppArmor
  sieve_pipe_bin_dir = /srv/mail/.sieve/bin

  sieve_trace_dir = /srv/mail/.sieve/logs
  # log levels: matching > tests > commands > actions
  #sieve_trace_level = matching
  #sieve_trace_debug = yes
  #sieve_trace_addresses = no
}

## Services

service imap-login {
  inet_listener imap {
    # disables imap on :143
    port = 0
  }
  inet_listener imaps {
    #port = 993
    #ssl = yes
  }
}

service lmtp {
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    mode = 0666
    user = postfix
    group = postfix
  }
}

service auth {
  unix_listener /var/spool/postfix/private/auth {
    mode = 0666
    user = postfix
    group = postfix
  }
}

service auth-worker {
  # Auth worker process is run as root by default, so that it can access
  # /etc/shadow. If this isn't necessary, the user should be changed to
  # $default_internal_user.
  user = $default_internal_user
}

## Mailboxes

mail_location = maildir:~/Maildir
namespace inbox {
  inbox = yes
  separator = /

  mailbox Drafts {
    special_use = \Drafts
    auto = subscribe
  }
  mailbox Spam {
    special_use = \Junk
    auto = subscribe
  }
  mailbox Ham {
    auto = subscribe
  }
  mailbox Trash {
    special_use = \Trash
    auto = subscribe
  }
  mailbox Sent {
    special_use = \Sent
    auto = subscribe
  }
}

## Authentication

auth_mechanisms = plain
#auth_debug = yes 
passdb {
  driver = passwd-file
  args = scheme=BLF-CRYPT username_format=%u /etc/dovecot/shadow
}
userdb {
  driver = passwd-file
  args = username_format=%u /etc/dovecot/users
}

## SSL

ssl = required
ssl_cert = <{{ mail_ssl.certificate }}
ssl_key = <{{ mail_ssl.private_key }}
ssl_dh = </etc/dovecot/dh.pem 

ssl_min_protocol = TLSv1
ssl_cipher_list = ALL:!aNULL:!eNULL:!EXPORT:!DES:!3DES:!MD5:!PSK:!RC4:!ADH:!LOW@STRENGTH
ssl_prefer_server_ciphers = no
ssl_options = no_compression
verbose_ssl = no