# {{ ansible_managed }}
# Please be aware: If ansible detects any change here, the CA- and server-cert gets recreated

[ req ]
prompt = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
CN = Mailserver Root CA

[ v3_extensions ]
basicConstraints        = critical, CA:TRUE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always, issuer:always
keyUsage                = critical, cRLSign, keyCertSign